<ion-header>
    <ion-toolbar>
        <ion-title>autor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Información</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>Aplicación desarrollada por Elisabeth Villegas.A continuación puede consultar mas información sobre el autor.</p>
            <p></p>
            <p>Para acceder a la biblioteca pulsa el siguiente botón:</p>
            <p>
                <ion-icon slot="start" name="book-outline"></ion-icon>
                <button ion-button routerLink="/curriculum">Curriculum vitae</button>
            </p>
            <p>
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                Correo: correo@gmail.com
            </p>
            <p>
                <ion-icon slot="start" name="logo-twitter"></ion-icon>
                Twitter: @Twitter
            </p>
            <p>
                <ion-icon slot="start" name="call-outline"></ion-icon>
                Teléfono: 123456789
            </p>

        </ion-card-content>
    </ion-card>

</ion-content>