<ion-header>
    <ion-toolbar>
        <ion-title>biblioteca</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--<ion-item >-->
        <ion-item *ngFor="let book of books">
            <ion-thumbnail item-left>

                <img [src]="item?.imagem" />
            </ion-thumbnail>
            {{ book }}
        </ion-item>

        <!-- <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    -->
    </ion-list>


</ion-content>