<ion-header>
    <ion-toolbar>
        <ion-title>biblioteca</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--<ion-item >-->
        <ion-item button icon-right *ngFor="let book of booksAll">

            <ion-thumbnail item-left>
                <img src="" />
            </ion-thumbnail>
            <ion-label>
                <!--Para que tenga orden-->
                <h6>{{ book.title}}</h6>
                <!--texto se muestra inicial-->
                <p>Autor: {{book.author_name}}</p>
                <p>Año: {{book.first_publish_year}}</p>
                <!--texto se muestra clarito abajo-->

            </ion-label>
            <ion-icon item-start name="chevron-forward-outline"></ion-icon>
            <!--icono > a la derecha-->
        </ion-item>

        <!-- <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    -->
    </ion-list>
    <!--<button ion-button full (click)=" mostrarTodosLibros()">Mostrar</button>-->

</ion-content>