<ion-header>
    <ion-toolbar>
        <ion-item button ion-button routerLink="/home">
            <ion-icon name="chevron-back-outline"></ion-icon>
            <ion-title>Biblioteca</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--Busquedad-->
    <p>Buscar por titulo o parte del titulo :</p>
    <form (ngSubmit)="buscarLibro()">
        <!--Se coloca el metodo que llamaremos-->
        <input type="text" name="libroBuscado" [(ngModel)]="libroBuscado">
        <!--Nombre es el identificativo y ese mandaremos que busque-->
    </form>
    <!---->
    <ion-list>
        <!--<ion-item >-->
        <ion-item button icon-right *ngFor="let book of booksAll" [routerLink]="['/detalles', book.isbn[0]]">

            <ion-thumbnail item-left>
                <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn[0]}}.jpg" />
            </ion-thumbnail>
            <ion-label>
                <!--Para que tenga orden-->
                <h6>{{ book.title}}</h6>
                <!--texto se muestra inicial-->
                <p>Autor: {{book.author_name}}</p>
                <p>Año: {{book.first_publish_year}}</p>
                <!--texto se muestra clarito abajo-->

            </ion-label>
            <ion-icon item-start name="chevron-forward-outline"></ion-icon>
            <!--icono > a la derecha-->
        </ion-item>

        <!-- <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    -->
    </ion-list>
    <!--<button ion-button full (click)=" mostrarTodosLibros()">Mostrar</button>-->

</ion-content>