<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar una biblioteca de un centro educativo.
            </p>
            <p>Para acceder a la biblioteca pulsa el siguiente botón:</p>
            <p>
                <ion-icon slot="start" name="school"></ion-icon>
                <button ion-button routerLink="/">Acceso a la iBiblioteca</button>
            </p>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Infomación sobre el autor</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>Aplicación desarrollada por Elisabeth Villegas</p>
            <p>
                <ion-icon slot="start" name="school"></ion-icon><button ion-button routerLink="/autor">Consultar información</button>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>