  
<!--<p>User with ID _ID_ loaded.</p>
<p>User name is _NAME_</p>http://localhost:4200/users/3/Jaime-->
<p>User with ID {{user.id}} loaded.</p>
<p>User name is {{user.name}}</p>

<!-- users con un absolute path con property binding y 
    como segundo segmento le pasamos un número, que actuará como ID. 
    Como tercero le pasamos un nombre, el que queramos también.
     Esto construirá un ruta que será algo así: http://localhost:4200/users/8/john.-->
     <hr>
<a [routerLink]="['/users', 8, 'john']">John profile</a><!--Si falla importar en module.ts : import {RouterModule} from '@angular/router'; y en importar : RouterModule-->

<!--verás que pulsando en el botón "John profile", la URL se actualiza, pero la UI no
    El motivo por el ocurre esto es porque, para empezar, estamos cargando 
    nuestros datos utilizando la propiedad snapshot en la ruta.sólo ocurre la primera vez que instanciamos el UserComponent.-->
    <!--El caso que nos ocupa (la tarea de hacer click sobre el botón "John profile" y que la URL cambie) es un caso de tarea asíncrona, ya que no existe manera de saber cuándo el usuario hará click sobre el botón, si es que lo hace en algún momento. Por tanto, no tendría sentido paralizar nuestro código-->
<!--Observables : "observa" en todo momento si cierto evento ocurre, -->

<!--Los query params se representan con un signo de interrogación para anunciar que a continuación viene una consulta, para después especificarle más detalles.

Se pueden unir varios query params con el signo &. Por ejemplo:

http://localhost:4200/users/8/john?mode=editing&[otro query param aquí].  http://localhost:4200/users/8/john?mode=editing#loading.-->